/* created by ctrlz.tech */

@charset "ISO-8859-1";
h1#title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(78, 78, 230);
}

div {
    background-color:rgb(192, 211, 246);
    border: 2px solid cadetblue;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 25px;
}

div#mainContainer {
    background-color:cornsilk;
    border: 5px solid cadetblue;
    width: auto;
    height: auto;
    padding: 20px;

}

header {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

footer {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

aside {
	width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* section {
    background-color:rgb(192, 211, 246);
    border: 1px solid cadetblue;
} */

table, td, th {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    text-align: center;
    white-space: normal;
}

tr:hover {
    background-color: #f5f5f5;
}

.right{
    position: relative;
    left: 0;
    color: red;
    font-weight: bold;
}

input{
    resize: horizontal;
}

/* #asideFooter {
    background-image:url("https://sectigo.com/trustlogo/images/sectigo_logo_black.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 10px;
    
} */